<h1> Links </h1>

<%= form_for @link, url: {action: "create"} do |f| %>
<%= label_tag :name %>
<%= f.text_field :name %>
<%= label_tag :links %>
<%= f.text_field :url  %>
<%= f.submit "Create" %>


<% end %>

<!-- form_helpers from guides.rubyonrails.org -->
